In [4]:
import numpy as np
import pandas as pd
import matplotlib.pyplot as plt
import seaborn as sns
from sklearn.model_selection import train_test_split
from sklearn.linear_model import LogisticRegression
from sklearn.metrics import accuracy_score

In [19]:
titanic_data=pd.read_csv("Titanic-Dataset.csv")

In [20]:
titanic_data.head()

,PassengerId,Survived,Pclass,Name,Sex,Age,SibSp,Parch,Ticket,Fare,Cabin,Embarked
0,1,0,3,"Braund, Mr. Owen Harris",male,22.0,1,0,A/5 21171,7.2500,NaN,S
1,2,1,1,"Cumings, Mrs. John Bradley (Florence Briggs Th...",female,38.0,1,0,PC 17599,71.2833,C85,C
2,3,1,3,"Heikkinen, Miss. Laina",female,26.0,0,0,STON/O2. 3101282,7.9250,NaN,S
3,4,1,1,"Futrelle, Mrs. Jacques Heath (Lily May Peel)",female,35.0,1,0,113803,53.1000,C123,S
4,5,0,3,"Allen, Mr. William Henry",male,35.0,0,0,373450,8.0500,NaN,S

In [21]:
titanic_data.shape

(891, 12)

In [22]:
titanic_data.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 891 entries, 0 to 890
Data columns (total 12 columns):
 #   Column       Non-Null Count  Dtype
---  ------       --------------  -----
 0   PassengerId  891 non-null    int64
 1   Survived     891 non-null    int64
 2   Pclass       891 non-null    int64
 3   Name         891 non-null    object
 4   Sex          891 non-null    object
 5   Age          714 non-null    float64
 6   SibSp        891 non-null    int64
 7   Parch        891 non-null    int64
 8   Ticket       891 non-null    object
 9   Fare         891 non-null    float64
 10  Cabin        204 non-null    object
 11  Embarked     889 non-null    object
dtypes: float64(2), int64(5), object(5)
memory usage: 83.7+ KB

In [23]:
print(titanic_data.columns)

Index(['PassengerId', 'Survived', 'Pclass', 'Name', 'Sex', 'Age', 'SibSp',
       'Parch', 'Ticket', 'Fare', 'Cabin', 'Embarked'],
      dtype='object')

In [24]:
titanic_data.isnull().sum()

PassengerId      0
Survived         0
Pclass           0
Name             0
Sex              0
Age            177
SibSp            0
Parch            0
Ticket           0
Fare             0
Cabin          687
Embarked         2
dtype: int64

In [25]:
# Drop 'Cabin' only if it exists
if 'Cabin' in titanic_data.columns:
    titanic_data = titanic_data.drop(columns='Cabin', axis=1)
else:
    print("'Cabin' column not found, skipping drop step.")

In [26]:
#replacing the missing values in "Age" column with mean values
titanic_data['Age'].fillna(titanic_data['Age'].mean(),inplace=True)

C:\Users\HP\AppData\Local\Temp\ipykernel_17896\3643253350.py:2: FutureWarning: A value is trying to be set on a copy of a DataFrame or Series through chained assignment using an inplace method.
The behavior will change in pandas 3.0. This inplace method will never work because the intermediate object on which we are setting values always behaves as a copy.

For example, when doing 'df[col].method(value, inplace=True)', try using 'df.method({col: value}, inplace=True)' or df[col] = df[col].method(value) instead, to perform the operation inplace on the original object.


  titanic_data['Age'].fillna(titanic_data['Age'].mean(),inplace=True)

In [27]:
titanic_data.isnull().sum()

PassengerId    0
Survived       0
Pclass         0
Name           0
Sex            0
Age            0
SibSp          0
Parch          0
Ticket         0
Fare           0
Embarked       2
dtype: int64

In [28]:
#finding the mode of embarked column
print(titanic_data['Embarked'].mode())

0    S
Name: Embarked, dtype: object

In [29]:
print(titanic_data['Embarked'].mode()[0])

S

In [30]:
#replacing the missing values in embarked column with mode value
titanic_data['Embarked'].fillna(titanic_data['Embarked'].mode()[0],inplace=True)

C:\Users\HP\AppData\Local\Temp\ipykernel_17896\1728392287.py:2: FutureWarning: A value is trying to be set on a copy of a DataFrame or Series through chained assignment using an inplace method.
The behavior will change in pandas 3.0. This inplace method will never work because the intermediate object on which we are setting values always behaves as a copy.

For example, when doing 'df[col].method(value, inplace=True)', try using 'df.method({col: value}, inplace=True)' or df[col] = df[col].method(value) instead, to perform the operation inplace on the original object.


  titanic_data['Embarked'].fillna(titanic_data['Embarked'].mode()[0],inplace=True)

In [31]:
titanic_data.isnull().sum()

PassengerId    0
Survived       0
Pclass         0
Name           0
Sex            0
Age            0
SibSp          0
Parch          0
Ticket         0
Fare           0
Embarked       0
dtype: int64

In [32]:
titanic_data.describe()

,PassengerId,Survived,Pclass,Age,SibSp,Parch,Fare
count,891.000000,891.000000,891.000000,891.000000,891.000000,891.000000,891.000000
mean,446.000000,0.383838,2.308642,29.699118,0.523008,0.381594,32.204208
std,257.353842,0.486592,0.836071,13.002015,1.102743,0.806057,49.693429
min,1.000000,0.000000,1.000000,0.420000,0.000000,0.000000,0.000000
25%,223.500000,0.000000,2.000000,22.000000,0.000000,0.000000,7.910400
50%,446.000000,0.000000,3.000000,29.699118,0.000000,0.000000,14.454200
75%,668.500000,1.000000,3.000000,35.000000,1.000000,0.000000,31.000000
max,891.000000,1.000000,3.000000,80.000000,8.000000,6.000000,512.329200

In [33]:
#finding the number of people survived and not survived
titanic_data['Survived'].value_counts()

Survived
0    549
1    342
Name: count, dtype: int64

In [34]:
sns.set()

In [35]:
#making a count plot for survived columns
#sns.countplot('Survived',data=titanic_data)

In [36]:
#sns.countplot('Sex',data=titanic_data)

In [37]:
#number of survivers Genderwise
#sns.countplot('Sex',hue='Survived',data=titanic_data)

Encoding the categorical columns

In [38]:
titanic_data.replace({'Sex':{'male':0,'female':1},'Embarked':{'S':0,'C':1,'Q':2}},inplace=True)

C:\Users\HP\AppData\Local\Temp\ipykernel_17896\256756841.py:1: FutureWarning: Downcasting behavior in `replace` is deprecated and will be removed in a future version. To retain the old behavior, explicitly call `result.infer_objects(copy=False)`. To opt-in to the future behavior, set `pd.set_option('future.no_silent_downcasting', True)`
  titanic_data.replace({'Sex':{'male':0,'female':1},'Embarked':{'S':0,'C':1,'Q':2}},inplace=True)

In [39]:
titanic_data.head()

,PassengerId,Survived,Pclass,Name,Sex,Age,SibSp,Parch,Ticket,Fare,Embarked
0,1,0,3,"Braund, Mr. Owen Harris",0,22.0,1,0,A/5 21171,7.2500,0
1,2,1,1,"Cumings, Mrs. John Bradley (Florence Briggs Th...",1,38.0,1,0,PC 17599,71.2833,1
2,3,1,3,"Heikkinen, Miss. Laina",1,26.0,0,0,STON/O2. 3101282,7.9250,0
3,4,1,1,"Futrelle, Mrs. Jacques Heath (Lily May Peel)",1,35.0,1,0,113803,53.1000,0
4,5,0,3,"Allen, Mr. William Henry",0,35.0,0,0,373450,8.0500,0

In [40]:
X=titanic_data.drop(columns=['PassengerId','Name','Ticket','Survived'],axis=1)
Y=titanic_data['Survived']

In [41]:
X_train,X_test,Y_train,Y_test=train_test_split(X,Y,test_size=0.2,random_state=2)

In [42]:
print(X.shape,X_train.shape,X_test.shape)

(891, 7) (712, 7) (179, 7)

In [43]:
model=LogisticRegression()

In [44]:
model.fit(X_train,Y_train)

C:\Users\HP\AppData\Roaming\Python\Python313\site-packages\sklearn\linear_model\_logistic.py:465: ConvergenceWarning: lbfgs failed to converge (status=1):
STOP: TOTAL NO. of ITERATIONS REACHED LIMIT.

Increase the number of iterations (max_iter) or scale the data as shown in:
    https://scikit-learn.org/stable/modules/preprocessing.html
Please also refer to the documentation for alternative solver options:
    https://scikit-learn.org/stable/modules/linear_model.html#logistic-regression
  n_iter_i = _check_optimize_result(

LogisticRegression()

In [45]:
#accuracy score
X_train_prediction=model.predict(X_train)
training_data_accuracy=accuracy_score(Y_train,X_train_prediction)
print('Accuracy score of training:',training_data_accuracy)

Accuracy score of training: 0.8075842696629213

In [46]:
X_test_prediction=model.predict(X_test)
test_data_accuracy=accuracy_score(Y_test,X_test_prediction)
print('Accuracy score of test:',test_data_accuracy)

Accuracy score of test: 0.7821229050279329

In [47]:

def predict_survival(Pclass, Sex, Age, SibSp, Parch, Fare, Embarked):
    # Preprocessing input data
    sex_value = 1 if Sex.lower() == 'male' else 0
    embarked_map = {'C': 0, 'Q': 1, 'S': 2}
    embarked_value = embarked_map.get(Embarked.upper(), 2)
    
    # Convert to numpy array and reshape
    input_data = np.array([[Pclass, sex_value, Age, SibSp, Parch, Fare, embarked_value]])
    
    # Make prediction
    prediction = model.predict(input_data)
    
    # Return result
    return 'Survived' if prediction[0] == 1 else 'Did not survive'

# Example usage:
# predict_survival(3, 'male', 22, 1, 0, 7.25, 'S')

In [48]:

import pickle

In [50]:
with open(' model.pkl', 'wb') as file:
    pickle.dump(model, file)

print("Model saved successfully as model.pkl")

Model saved successfully as model.pkl

In [51]:
import os

print("Current Working Directory:", os.getcwd())  # Check where the script is running
print("Files in Directory:", os.listdir())  # List all files in the directory

Current Working Directory: e:\Project\Titanic survival prediction model
Files in Directory: [' model.pkl', 'app.py', 'backend', 'frontend', 'Titanic-Dataset.csv', 'Titanic_survival_Prediction_Updated.ipynb']

In [56]:
model_path = os.path.abspath("model.pkl")
print("Loading model from:", model_path)  # Debugging

with open(model_path, "rb") as file:
    model = pickle.load(file)

Loading model from: e:\Project\Titanic survival prediction model\model.pkl

FileNotFoundError: [Errno 2] No such file or directory: 'e:\\Project\\Titanic survival prediction model\\model.pkl'